// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// Override theme settings (see ../template/settings.scss)
$mainFont: "Courier", monospace;
$mainColor: #000;
$headingFont: "Roboto", sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: hsl(240, 0.03%, 255%);
$linkColor: #00008b;
$linkColorHover: lighten($linkColor, 20%);
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

mark {
  background-color: hsl(182, 80%, 75%);
}
